/*
***Module 0: Publish a Webpage 
***Name: Sarah Moore 
***This file contains the Styles for h1 element
*/

h1{
  font-family: "ITC Benguiat", Helvetica, mono-space;
  background-color: #dfc7ff;
  color: #51008d;
  font-size: 4rem;
  padding: 20px;
  text-align: center;
}
